@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$font-text: "Roboto",
"sans-serif";
$bg-container: "#f5f6fa";
$bg-prymary: "#ffffff";
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-text;
    height: 100vh;
    background: $bg-container;
}

.form-control {
    width: 29rem;
    background-color: $bg-prymary;
    display: flex;
    flex-direction: column;
    padding: 69px;
    border-radius: 24px;
    -webkit-box-shadow: -1px 1px 20px -4px rgba(216, 216, 216, 0.74);
    box-shadow: -1px 1px 20px -4px rgba(216, 216, 216, 0.74);
    font-weight: bold;
}

.custom-mt {
    margin-top: 0.75rem;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"],
button,
input:focus {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: $font-text;
    border-radius: 12px;
    border-style: solid;
    border-color: #d8d8d8bd;
    outline: none;
    background-color: rgb(247, 247, 247);
}

input[type="submit"],
button {
    cursor: pointer;
}

.input-groups {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: var(--metric-box-spacing);
}

.input-group {
    padding: var(--metric-box-spacing);
    background-color: var(--color-off-white);
    border-radius: var(--metric-radius);
    box-shadow: var(--generic-shadow);
}